In [2]:
library(dplyr)

In [3]:
rest_data <- read.csv("Join.csv")

In [4]:
head(rest_data)

  Seating.Interest..Sidewalk.Roadway.Both. CAMIS
1 roadway                                  50109522
2 sidewalk                                 50113143
3 both                                     50069734
4 sidewalk                                 50097413
5 roadway                                  50047872
6 both                                     50104163
  Approved.for.Sidewalk.Seating Approved.for.Roadway.Seating
1 no                            yes
2 yes                           no
3 yes                           yes
4 yes                           no
5 no                            yes
6 yes                           yes
  Time.of.Submission     X  Score Grade BOROUGH  Violation.Code
1 04/22/2021 02:47:00 PM NA #N/A  #N/A  #N/A     #N/A
2 08/17/2021 03:04:00 PM NA #N/A  #N/A  #N/A     #N/A
3 08/15/2020 04:55:00 PM NA 11    A     Queens   02G
4 08/15/2020 09:58:00 AM NA 7     A     Brooklyn 10F
5 08/14/2020 05:08:00 PM NA #N/A  #N/A  #N/A     #N/A
6 08/17/2020 10:29:00 AM NA #N/A  #N/A  #N/A     #N/A
  Violation.Description
1 #N/A
2 #N/A
3 Cold food item held above 41¬∫ F (smoked fish and reduced oxygen packaged foods above 38 ¬∫F) except during necessary preparation.
4 Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.
5 #N/A
6 #N/A
  Cuisin
1 #N/A
2 #N/A
3 Indian
4 Hotdogs/Pretzels
5 #N/A
6 #N/A

In [5]:
borough_df <- rest_data %>%
    group_by(BOROUGH) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(borough_df)

  BOROUGH       counts
1 Manhattan     5223
2 Brooklyn      2504
3 #N/A          2396
4 Queens        2104
5 Bronx          588
6 Staten Island  153

In [10]:
grade_df <- rest_data %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(grade_df)

  Grade counts
1 A     9185
2 #N/A  2396
3 B     1045
4 C      344

In [11]:
violation_code_df <- rest_data %>%
    group_by(Violation.Code) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(violation_code_df)

  Violation.Code counts
1 #N/A           2396
2 10F            2049
3 06D             996
4 08A             990
5 06C             835
6 10B             680

In [12]:
cuisin_df <- rest_data %>%
    group_by(Cuisin) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(cuisin_df)

  Cuisin         counts
1 American       2535
2 #N/A           2396
3 Italian         823
4 Coffee/Tea      631
5 Mexican         560
6 Latin American  552

In [13]:
Manhattan_df <- rest_data %>% 
    filter(BOROUGH == "Manhattan")

In [14]:
Manhattan_grade_df <- Manhattan_df %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(Manhattan_grade_df)

  Grade counts
1 A     4597
2 B      486
3 C      140

In [15]:
Brooklyn_df <- rest_data %>% 
    filter(BOROUGH == "Brooklyn")

In [16]:
Brooklyn_grade_df <- Brooklyn_df %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(Brooklyn_grade_df)

  Grade counts
1 A     2183
2 B      246
3 C       75

In [17]:
Queens_df <- rest_data %>% 
    filter(BOROUGH == "Queens")

In [18]:
Queens_grade_df <- Queens_df %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(Queens_grade_df)

  Grade counts
1 A     1796
2 B      215
3 C       93

In [19]:
Bronx_df <- rest_data %>% 
    filter(BOROUGH == "Bronx")

In [20]:
Bronx_grade_df <- Bronx_df %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(Bronx_grade_df)

  Grade counts
1 A     471
2 B      86
3 C      31

In [21]:
Staten_Island_df <- rest_data %>% 
    filter(BOROUGH == "Staten Island")

In [22]:
Staten_Island_grade_df <- Staten_Island_df %>%
    group_by(Grade) %>%
    summarise(
        counts = n()
    ) %>%
 arrange(desc(counts))

head(Staten_Island_grade_df)

  Grade counts
1 A     137
2 B      12
3 C       4